.home-page-element {
  overflow-y: hidden;
  min-height: 100vh;
}

.home-page-wrapper {
  max-width: var(--landing-page-wrapper);
  margin: 8rem auto 0;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

.home-page-left-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.home-page-left-column .home-page-description {
  font-size: 24px;
  color: var(--light-text);
  font-weight: bold;
}

.home-page-left-column .home-page-selling-point {
  font-weight: bold;
}

.home-page-right-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-card-image {
  position: relative;
  z-index: 1;
}

.home-page-card-image:hover {
  animation: grow 2s ease-out 1;
}

.home-page-vectors-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-7rem);
}

.home-page-vectors-wrapper img {
  position: absolute;
  animation: spin-counterclockwise 200s linear infinite;
  opacity: .6;
  transition-duration: .1s;
}

.home-page-vectors-wrapper img:nth-child(2n) {
  animation: spin-clockwise 220s linear infinite;
}

.home-page-vectors-wrapper img:nth-child(3n) {
  animation: spin-counterclockwise 180s linear infinite;
}

.home-page-vectors-wrapper img:nth-child(4n) {
  animation: spin-clockwise 240s linear infinite;
}

.home-page-vectors-wrapper img:nth-child(5n) {
  animation: spin-counterclockwise 140s linear infinite;
}

.home-page-vectors-wrapper img:nth-child(6n) {
  animation: spin-clockwise 260s linear infinite;
}

.home-page-vectors-wrapper img:nth-child(7n) {
  animation: spin-counterclockwise 120s linear infinite;
}

.home-page-vectors-wrapper img:nth-child(8n) {
  animation: spin-clockwise 280s linear infinite;
}

@keyframes spin-clockwise {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-counterclockwise {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes grow {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.02;
  }
  100% {
    scale: 1;
  }
}
