body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

:root {
  /*Colors*/
  --primary: #5d9e8f;
  --secondary: #edf2ff;
  --inactive: #c2c3c5;
  --light-text: #556680;
  --backdrop: #f4f3f6;

  /*Layout*/
  --landing-page-wrapper: 1500px;
  --main-wrapper: 1200px;
}

.accent-text {
  color: var(--accent);
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
}
