body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /*Colors*/
  --primary: #5D9E8F;
  --secondary: #edf2ff;
  --inactive: #c2c3c5;
  --accent: #DE562C;
  --backdrop: #F4F3F6;
  
  /*Layout*/
  --main-wrapper: 900px;
}

.accent-text {
  color: var(--accent);
  font-weight: bold;
  font-family: 'Philosopher', sans-serif;
}