.authHeaderManager {
    position: absolute;
    right: 1em;
    bottom: 1em;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background: #333333AA;
}