.button {
  padding: 0.5em 1em;
  background: #333;
  border: 2px solid #222;
  border-radius: 2px;
  width: fit-content;
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: var(--color-primary);
}

.button:hover {
  background: #444;
}