.login-wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  padding: 4rem;
  box-shadow: 0 0.7rem 1rem -0.5rem #000000, 0.3rem 0.3rem 1rem 0.3rem rgb(0 0 0 / 0%);
}

.submit-button {
  max-width: 8rem;
  align-self: center;
}