.row {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.column {
	padding: 2em;
	display: flex;
	flex-direction: column;
}

.header {
	margin-bottom: 0.5em;
}

.advantagesList {
	margin: 1em;
}

.advantage {
	display: flex;
	align-items: center;
}

.tick {
	margin-right: 1em;
}