.list-container {
  display: flex;
  gap: 2rem;
}

.list-container--background {
  background-color: var(--backdrop);
  min-width: 30rem;
  padding: 1rem;
  border-radius: 1rem;
}

.key-column, .value-column {
  list-style-type: none;
  padding-left: 0;
}

.key-column li p {
  font-weight: bold;
}