.integrations-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: left;
  max-height: 50vh;
  overflow-y: scroll;
}

.integration-button {
  border-radius: 0.3rem !important;
  border: 1px solid !important;
  max-height: 5rem;
  max-width: 9rem;
  margin: 0 !important;
}

.integration-button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.integration-button--active {
  opacity: 0.5;
  border-color: var(--primary) !important;
}

.integration-button--inactive {
  border-color: var(--inactive) !important;
}
